{{!-- TODO CONTEUDO ADICIONADO AQUI COMO IMPORTAÇÕES CSS E JS SERÃO IMPORTADO PARA DEMAIS PAGINAS --}}

<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>

    <link rel="stylesheet" href="css/global.css">

</head>
<body>
    {{!-- tag obrigatoria do handlebars --}}
    {{{body}}}
    {{!-- Partials adicioando --}}
    {{>footer}} 
</body>
</html>